* {
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  background: linear-gradient(to right, #672280, #a626d3);
  color: white;
  height: 4rem;
}
.nav--titleCard {
  display: flex;
  align-items: center;
}
.nav--logo {
  height: 1.75rem;
  width: auto;
  padding-right: 0.5rem;
}
.nav--text {
  font-size: 0.75rem;
  font-weight: 500;
}
.nav--title {
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 20.75px;
  letter-spacing: -0.07em;
}
.meme--inputs {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}
.meme--inputs > input {
  height: 2rem;
  width: 40vw;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  color: gray;
  font-family: "Karla", sans-serif;
  text-indent: 0.5rem;
}
.input--first {
  margin-right: 0.75rem;
}
.input--last {
  margin-inline-start: 0.75rem;
}
.meme--button {
  display: flex;
  justify-content: center;
}
.button {
  height: 2.25rem;
  background: linear-gradient(to right, #672280, #a626d3);
  color: white;
  letter-spacing: -0.07rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  border-radius: 5px;
  cursor: pointer;
}
.meme--image {
  border-radius: 5px;
  max-width: 100%;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.img--wrapper {
  position: relative;
  margin: 1rem;
}
